<%- include("partials/header", {user: user}); -%>

<h1>Hello World</h1>
<form class="" action="/finalizeBooking" method="post">

  <button type="submit" name="button">Confirm</button>
</form>


<%- include("partials/footer"); -%>
